* {
  margin: 0;
  padding: 0;
}
body { font-family: sans-serif; }


.xx { width: 120px; height: 120px; margin: 50px 0 0 50px; border: 1px solid #000; border-bottom: 0; display: -webkit-flex; display: flex; flex-wrap: wrap; }
.xx p { width: 40px; height: 40px; text-align: center; line-height: 40px; }
.square { position: relative; display: block; cursor: pointer; }
.square::before { content: ""; position: absolute; right: 0; top: 0; bottom: 0; width: 0; border-right: 1px solid #000; }
.square::after { content: ""; position: absolute; right: 0; left: 0; bottom: 0; height: 0; border-bottom: 1px solid #000; }
.square:nth-child(3n):before { display: none; }